function PhraseDrafts.drawName 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawJ 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawE 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawT 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawP 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawA 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawC 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawK 5
pop argument 0
push argument 0
push argument 3
add
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawJ 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawO 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawU 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawR 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawN 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawE 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawY 5
pop argument 0
push argument 0
return
function PhraseDrafts.drawJumpInstruction 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawP 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawR 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawE 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawS 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawS 5
pop argument 0
push argument 0
push argument 3
add
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawS 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawP 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawA 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawC 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawE 5
pop argument 0
push argument 0
push argument 3
add
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawB 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawA 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawR 5
pop argument 0
push argument 0
push argument 3
add
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawT 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawO 5
pop argument 0
push argument 0
push argument 3
add
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawJ 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawU 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawM 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawP 5
pop argument 0
push argument 0
return
function PhraseDrafts.drawQuitInstruction 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawP 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawR 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawE 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawS 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawS 5
pop argument 0
push argument 0
push argument 3
add
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawQuote 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawQ 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawQuote 5
pop argument 0
push argument 0
push argument 3
add
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawT 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawO 5
pop argument 0
push argument 0
push argument 3
add
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawQ 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawU 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawI 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawT 5
pop argument 0
push argument 0
return
function PhraseDrafts.drawScoreLabel 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawS 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawC 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawO 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawR 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawE 5
pop argument 0
push argument 0
push argument 1
push argument 2
push argument 3
push argument 4
call LettersAndSymbolsDrafts.drawColon 5
pop argument 0
push argument 0
return